.carosello{
  margin-top: -100px;
  //border: solid lightseagreen;
}
.swiper-pagination, .swiper-pagination-bullets {
  color: #383C3F;
  margin-bottom: -750px;
  padding-bottom: 820px;
  position: absolute;
}

.swiper-button-prev, .swiper-button-next{
  color: #383C3F;
  margin: 0 300px;
  margin-top: -40px;
}


