.carosello{
  width: 60%;
  margin: 0 auto;
}
.swiper-pagination, .swiper-pagination-bullets {
  color: #383C3F;
}

.swiper-button-prev, .swiper-button-next{
  color: #383C3F;
}

.swiper-pagination-bullet-active{
  background: #383C3F !important;
}




