<div class="container">
  <div class="row">
    <div class="card col-lg-3 col-md-4 col-sm-12"> <!--negli appunti sostiuitisci element centered con card -->
      <div class="circle"></div>
      <div class="content">
        <h2>Peach & Mango</h2>
        <p>Ingredienti: Acqua, Saccarosio, Pesca (20%), Mango (15%), Glucosio, Anidride Carbonica, Caffeina (0,03%) Vitamine (Niacina, Acido Pantotenico, B6, B12).</p>
        <h3 class="prezzo">{{3.8 | currency: 'EUR'}}</h3>
        <app-bottone id="button"></app-bottone>
      </div>
      <img src="../../../assets/cans/canYellow.png" class="lattinaimg" alt="">
    </div>
  </div>
</div>
