
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  // border: 2px solid #006100;
}

.card{
  margin: auto; //centrare elelemento in div
  position: relative;
  width: 550px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center; //il contenuto nella card è centrato
  transition: 0.5s;
  border: none;
  //background: #f7e70b;
}

.card .circle{ //il cerchio della card
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before{ //sovrappongo una etichetta rettangolare
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(80px at center); //il rettangolo diventa un cerchio centrato
  transition: 0.5s;
}

.tin-0::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #F34B16 0%, #EFA46A 100%);
}
.tin-1::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #D01171 0%, #F055A1 60.42%, #ED93BC 100%);
}
.tin-2::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #53B815 0%, #E2DA1C 78.65%);
}
.tin-3::before{
  background: radial-gradient(100% 215.51% at 3.33% 0%, #F07C10 0%, #E2DA1C 100%);
}
.tin-4::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #CE0A0B 0%, #DE9A91 100%);
}

.tin-5::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #380ace 0%, #DE9A91 100%);
}



.card:hover .circle::before{ //all'hover il cerchio si espande
  clip-path: circle(400px at center);
}

.tin-0::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #F34B16 0%, #EFA46A 100%);
}
.tin-1::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #D01171 0%, #F055A1 60.42%, #ED93BC 100%);
}
.tin-2::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #53B815 0%, #E2DA1C 78.65%);
}
.tin-3::before{
  background: radial-gradient(100% 215.51% at 3.33% 0%, #F07C10 0%, #E2DA1C 100%);
}
.tin-4::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #CE0A0B 0%, #DE9A91 100%);
}
.tin-5::before{
  background: radial-gradient(100% 222.95% at 0% 0%, #380ace 0%, #DE9A91 100%);
}

.card img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
}

.card:hover img{
  left: 72%; //all'hover la lattina si sposta
  height: 450px; //e si ingrandisce
}

.card .content{
  position: relative;
  width: 50%;
  left: 10%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content{ //animazione testi
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -140px;
}

.card .content p {
  color: white;
  width: 110%;
  margin-top: 30px;
  margin-left: -140px;
  font-family: 'Inter', sans-serif;

}

.card .content #button{
  display: inline;
  position: absolute;
  margin-left: 100px;
  margin-top: -190px;
  display: inline-block;
}

// .lattinaimg{
//   width: 100px;
// }

@media(max-width:991px){
  .card
  {
    width: auto;
    max-width: 400px;
    align-items: flex-start;
    margin: 10px;
  }
  .card:hover{
    height: 600px;
  }
  .card .content{
    width: 100%;
    left: 0;
    padding: 50px;
  }

  .card .content h2 {
    margin-left: 0px;
  }
  .card .content p {
    margin-left: 0px;
  }

  .card .content #button {
    margin-left: 240px;
    margin-top: -200px;
  }

  .card:hover img{
    top:70%;
    left: 50%;
    height: 300px;
  }
}

@media(max-width:420px){
  .card .content{
    padding: 20px;
  }

  .card .content #button {
    margin-left: 240px;
    margin-top: -200px;
  }
}

.prezzo{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-left: -140px;
}




