//colors
$white: white;
$black: #383C3F;
$light-grey: #D9D9D9;
$orange-shade: radial-gradient(102.58% 228.74% at -2.58% 3.86%, #EFA46A 0%, #F34B16 100%);

//PER USARLI:
// background-color: var(--bs-white);
