
button{

  margin-top: 190px;
  margin-left: -240px;

  background: none;

  border: 3px solid;

  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

// .button-white, button{
//   border-color: #ffffff;
//   color: #ffffff;
// }

// .button-black, button{
//   border-color: #383C3F;
//   color: #383C3F;
// }

span{
  display: flex;
  padding: 5px 15px;
  flex-direction: row;
  flex-wrap: nowrap;
}

span #carrellino{
  margin-left:-5px;
  width: 29px;
  padding-right: 10px;
}

.disable{
  border: solid 3px lightgrey !important;
  cursor: default !important;
  span{
    color: lightgrey !important;
  }
}

// button::before, button::after {
//   content: "";
//   width: 0;
//   height: 3px;
//   position: absolute;
//   transition: all 0.25s linear;
//   background: #ffffff;
// }

// span::before, span::after{
//   content: "";
//   width: 3px;
//   height: 0;
//   position: absolute;
//   transition: all 0.25s linear;
//   background: #ffffff;
// }

// button:hover::before, button:hover::after{
//   width: 100%;
// }
// button:hover span:before, button:hover span:after{
//   height: 100%;
// }

// button::after{
//   right: 0;
//   bottom: 0;
//   transition-duration: 0.4s;
// }

// button span::after{
//   right: 0;
//   bottom: 0;
//   transition-duration: 0.4s;
// }

// button::before{
//   left: 0;
//   top: 0;
//   transition-duration: 0.4s;
// }

// button span::before{
//   left: 0;
//   top: 0;
//   transition-duration: 0.4s;
// }

// #carrellino{
//   width: 20px;
//   margin-left: 15px;
// }
