<h1 mat-dialog-title>CONFERMA PAGAMENTO</h1>
<div mat-dialog-content>
  <div class="info-products">
    <h3>Dati Prodotto:</h3>
    <div *ngFor="let product of data.products">
      <div class="product">
        {{product.quantity}} pz | {{product.title}} | spesa di {{product.price|currency:'EUR'}}
      </div>
  </div>

    <div class="total">
      <p [ngStyle]="{color:'limegreen'}"> Spedizione Gratuita </p>
      <strong> Totale spesa carrello: {{ totalPrice|currency:'EUR' }} </strong>
    </div>
  </div>

  <hr>

  <div class="info-buyer">
    <h3>Dati Acquirente:</h3>
    <div class="name-buyer">
      Nome | {{data.form.nome}}
    </div>
    <div class="surname-buyer">
      Cognome | {{data.form.cognome}}
    </div>
    <div class="address-buyer">
      Indirizzo | {{data.form.indirizzo}}
    </div>
    <div class="contact-buyer">
      Numero telefonico | {{data.form.telefono}}
    </div>
    <div class="email-buyer">
      Email | {{data.form.email}}
    </div>
  </div>


  <hr>
    <div class="buttons">
      <!-- <app-bottone [buttonConfig]="buttonConfig"></app-bottone> -->
      <button mat-button [mat-dialog-close]="true">Indietro</button>
      <!-- <app-bottone [buttonConfig]="confirmPurchaseButtonConfig" (click)="purchaseConfirmation()"></app-bottone> -->

      <button mat-button (click)="purchaseConfirmation()">Conferma Acquisto</button>
    </div>
</div>
