.navbar{
  font-family: 'Inter';
  font-size: medium;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #383C3F;
  cursor: pointer;
}

.navbar-brand{
  width: 100px;
  margin-left: 5%;
  cursor: pointer;
}

.nav-item{
  display: flex;
  margin-right: 55px;
}

.pill{
  border-radius: 106px;
  background-color: red;
  color: white;
  font-size: 0.6rem;
  position: relative;
  top: -10px;
  padding: 0.2rem 0.5rem;
}

