<div class="container">
  <div class="title">Fase d’acquisto</div>
    <div class="container-big">
      <div class="row">
        <div class="col-75">
          <div class="container">

            <form [formGroup]="myForm" (ngSubmit)="acquista()">

              <div class="row">
                <div class="col-50">
                  <h3 class="subtitle">DATI FATTURAZIONE</h3>

                  <div class="row">
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label><i class="fa fa-user"></i> Nome</mat-label>
                        <input maxlength="20" matInput placeholder="Mario" type="text" formControlName="nome">
                      </mat-form-field>
                    </div>
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label><i class="fa fa-user"></i> Cognome</mat-label>
                        <input maxlength="20" matInput placeholder="Rossi" type="text" formControlName="cognome">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label><i class="fa fa-address-card-o"></i> Indirizzo</mat-label>
                        <input matInput placeholder="Indirizzo" type="text" formControlName="indirizzo">
                      </mat-form-field>
                    </div>
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label><i class="fa fa-institution"></i> Città</mat-label>
                        <input matInput placeholder="Città" type="text" formControlName="città">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label> Stato</mat-label>
                        <input matInput placeholder="Stato" type="text" formControlName="stato">
                      </mat-form-field>
                    </div>
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label> CAP</mat-label>
                        <input maxlength="5" matInput placeholder="Cap" type="text" (keydown)="keydown($event)" formControlName="cap">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label> Telefono o Cellulare</mat-label>
                        <input maxlength="10" matInput placeholder="340 2571341" type="text" (keydown)="keydown($event)" formControlName="telefono">
                      </mat-form-field>
                    </div>
                  </div>

                </div>


                <div class="col-50">
                  <h3 class="subtitle">DATI PAGAMENTO</h3>

                  <div class="row">

                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label> Numero Carta</mat-label>
                      <input maxlength="16" matInput placeholder="_ _ _ _ - _ _ _ _ - _ _ _ _ - _ _ _ _ " type="text" (keydown)="keydown($event)" formControlName="numCard">
                    </mat-form-field>
                  </div>


                </div>

                  <div class="row">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label> Data di Scadenza</mat-label>
                        <input matInput placeholder="2023" type="date" formControlName="annoScadenza">
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label> CVV</mat-label>
                        <input maxlength="3" matInput placeholder="_ _ _" type="text" (keydown)="keydown($event)" formControlName="cvv">
                      </mat-form-field>
                    </div>

                    <div class="col-50 form-group">
                      <mat-form-field appearance="outline">
                        <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
                        <input matInput placeholder="mario.rossi@gmail.com" formControlName="email">
                      </mat-form-field>
                    </div>

                  </div>

                </div>
              </div>

              <div class="flex-container">
                <app-bottone [buttonConfig]="buttonConfig" (click)="tornaIndietroAlCarrello()"></app-bottone>

                <app-bottone class="btn-right " [disabled]="!myForm.valid" type="submit"
                    [buttonConfig]="acquistaButtonConfig">
                </app-bottone>
              </div>
              <!-- <button mat-flat-button [disabled]="!myForm.valid" type="submit">Acquista</button> -->


            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
















