.container{
  align-items: center;
  justify-content: center;
  //border: 2px solid red;
  margin: 7rem auto;
  color: black;
}

.title{
  //border: solid plum;
  color: #383C3F;
  font-weight: 700;
  font-size: 3.5rem;
  margin-left: -10px;

}

.subtitle{
  //border: 2px solid blue;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0rem;
  margin-left: -15px;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -30px;
}

.form-control{
  height: 50px;
  margin-bottom: 25px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  margin-top: -70px;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

mat-form-field{
  width: 100%;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-left{
  border: none;
  margin-top: -129px;
  margin-left: 257px;
  margin-bottom: 20px;
}
.btn-right{
  margin-left: 150px;
}

.flex-container{
  display: flex;
  justify-content: center;
  margin-top: -190px;
  margin-left: 340px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }

}
