
<div class="bg-container">
<!--Immagine di background-->

  <div class="container-text">
    <!--Testo-->

    <div class="subtitleGusto">
      {{drink.subtitleGusto}}
    </div>

    <div class="titleDescription">
      {{drink.titleDescription}}
    </div>

  </div>
</div>



<div class="container">
  <div class="title2Description">I nostri gusti</div>
  <div class="text">Posizionati sulla lattina e scegli tra i nostri cinque gusti ricavati da ingredienti naturali.</div>
  <!--Carosello-->
  <app-dettaglio-prodotto></app-dettaglio-prodotto>
</div>




