  <footer class="foot bg-dark d-flex p-2 ">
    <div class="row w-100 align-content-center">
        <div class="col-4">
          Seguici sui social <img src="../../../assets/icons/Facebook.svg" alt="">
          <img src="../../../assets/icons/Instagram.svg" alt="">
          <img src="../../../assets/icons/Twitter.svg" alt="">
        </div>
        <div class="col-4">
          348 450 04 87 <img src="../../../assets/icons/Subtract.png" alt="">
        </div>
        <div class="col-4">
          drink@info.com <img src="../../../assets/icons/Envelope.svg" alt="">
        </div>
    </div>
  </footer>

