
<div class="container">
  <div class="row">
    <div class="content-centered">
      {{drink.titleChiSiamo}}
      <div class="subtitle">
        {{drink.subtitleChiSiamo}}
        <div class="description">
          {{drink.descriptionChiSiamo}}
        </div>
      </div>

      <div class="image img-fluid">
        <img src="../../../assets/images/chi-siamo-image.jpg" alt="">
      </div>

    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="container-interno">
      <div class="row-interno">
        Centro
      </div>
    </div>
  </div>
</div> -->




