.subtitle1{
  display: inline-block;
  font-weight: 900;
  margin-left: 0.31rem;
  font-size: 1.2rem;
  //border: solid rgb(250, 114, 243);

  img {
    width: 10%;
  }
}

.subtitle2{
  display: inline-block;
  //border:  solid darkgoldenrod;
  width: 90%;
}

.info_2{
  font-weight: 500;
  font-size: 1rem;
  //border: solid rgb(250, 245, 114);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;

}

.price{
  display: flex;
  //border: solid greenyellow;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 3px;
}


.bottone{
  background-color: #383C3F;
  color: aliceblue;
  border: none;
  width: 25px;
  //border-radius: 12px;
}

.link{
  cursor: pointer;
  text-decoration: underline;
}
